
  .initialcontent{
    background-color: #f5f3de;
    position: absolute;
    width: 100%;
    height: 130%;

  }
  
  .page_content{
    position: relative;
    padding: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 15px;
  }

  h1{
    font-weight: bold;
    color: rgb(7, 2, 71);
  }

  table  {
    border: 1px solid ;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 4px 4px 4px 4px; 
  }
  tr{
    border: 1px solid;
  }
  th  {
    border: 1px solid;
    padding: 4px 40px;
    background-color: #0052ff;
  }
  td{
    border: 1px solid;
    padding: 4px 51px;
  }
  .highlighter{
    color: rgb(33, 3, 200);
    font-weight: bold;
    font-size: medium;
  }
  .amount{
    color: rgb(5, 53, 29);
    font-weight: bold;
  }

  #heading{
    text-align:center ;
  }

  input{
    margin-left: 4px;
    padding: 2px;
  }
  .formContent{
    margin-left: 437px;
  }
  .game{
    margin-left: 121px;
  }
  #address{
    height: 20%;
  }